
$primary-color: teal;

.movies-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;

  .movie-item {
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100%;
      border-radius: 8px;
    }

    h4{
      color: $primary-color;
    }
  }
}

.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 200px;
  background-color: $primary-color;
  color: #fafafa;
}

.main-container {
  min-height: calc(100vh - 256px);
}

.short-synopsis {
  width: 60%;
}
